@use "./utils/variables";
@use "./base/reset";
@use "./base/common";
@use "./components/header";
@use "./components/hero";
@use "./components/hero-charecters";
@use "./components/hero-episodes";
@use "./components/second-header";
@use "./components/main-characters";
@use "./components/main-slider";
@use "./components/sesons-list";
@use './components/hero-list';
@use './components/footer';