


@use './layout/hero-list';
@use "./utils/variables";
@use "./base/reset";
@use "./base/common";

@use "./layout/header";
@use "./layout/hero";

@use "./layout/main-characters";
@use "./layout/main-slider";
@use "./layout/sesons-list";

@use './layout/footer';