:root {
	--black: #0d171d;
	--green: #a1d737;
	--light-green: #daf836;
	--slider-bg: #07121a;
	--accent-green: #a1d737;
	--pill-text: #061214;
    --font-family: "Montserrat", sans-serif;
    --second-family: "Poppins", sans-serif;
	--white: #ffffff;
	
}