<section class="hero-list">
  <label>Name
  <input type="text" placeholder="Enter name" />
</label>

<div>
  <label>Status
  <select>
    <option>Alive</option>
    <option>Dead</option>
  </select>
</label>

  <label>Species
  <select>
    <option>Human</option>
    <option>Alien</option>
  </select>
</label>

  <label>Gender

  <select>
    <option>All</option>
    <option>Male</option>
    <option>Female</option>
  </select>
</label>
  
</div>

  <img src="./img/portal.svg" alt="portal" />

  <p>Oops! Try looking for something else...</p>
  
</section>