<div class="footer-top">
  <img src="./img/rick_and_morty_logo.svg" alt="logo" class="footer-logo" />
  <ul class="footer-list">
    <li class="footer-item">
      <a href="." class="footer-list-link">Characters</a>
    </li>
    <li class="footer-item">
      <a href="." class="footer-list-link">Episodes</a>
    </li>
  </ul>
  <div class="social">
    <a href="#" class="social-btn" aria-label="Facebook">
      <svg>
        <use href="./img/symbol-defs.svg#icon-facebook"></use>
      </svg>
    </a>
    <a href="#" class="social-btn" aria-label="Twitter">
      <svg>
        <use href="./img/symbol-defs.svg#icon-twitter"></use>
      </svg>
    </a>
    <a href="#" class="social-btn" aria-label="Instagram">
      <svg>
        <use href="./img/symbol-defs.svg#icon-instargam"></use>
      </svg>
    </a>
  </div>
</div>
<p class="footer-policy">Privacy Policy Public Offering Agreement</p>
