<section class="hero-characters">
  <div class="container">
    <div class=" hero-characters-box">
        <div class="hero-characters-box-text">
    <h1 class="hero-characters-title">Characters</h1>
    <p class="hero-characters-text">
      Our character bios provide detailed information on every member of the
      Smith family and beyond. Get to know these unforgettable characters on a
      whole new level - start exploring now!
    </p>
    <a href="./index.html" class="hero-characters-link"> Back home </a>
    </div>
    <div class="hero-characters-box-image">
    <img src="./img/rick-character.png" alt="" class="hero-characters-image" />
    </div>
    </div>
    </div>
  </div>
</section>