<section class="hero-episodes">
  <div class="container">
    <div class="hero-episodes-box">
      <div class="hero-episodes-box-text">
        <h1 class="hero-episodes-title">Episodes</h1>
        <p class="hero-episodes-text">
          With a comprehensive guide to every episode, you can relive your
          favorite moments and discover new ones. From the bizarre and hilarious
          to the emotional and thought-provoking, our episode guide covers it
          all.
        </p>
        <a href="./index.html" class="hero-characters-link"> Back home </a>
      </div>
      <div class="hero-episodes-box-image">
        <img src="./img/hero-episodes.png" alt="" class="hero-episodes-image" />
      </div>
    </div>
  </div>
</section>
