<section>hero-c</section>

<section class="hero-characters">
  <label>Name</label>
  <input type="text" placeholder="Enter name" />

  <label>Status</label>
  <select>
    <option>Alive</option>
    <option>Dead</option>
  </select>

  <label>Species</label>
  <select>
    <option>Human</option>
    <option>Alien</option>
  </select>

  <label>Gender</label>

  <select>
    <option>All</option>
    <option>Male</option>
    <option>Female</option>
  </select>

  <img src="./img/portal.svg" alt="portal" />

  <p>Oops! Try looking for something else...</p>
  
</section>
