<div class="hero-slider">
		<h2 class="hero-title">Ready to <span class="highlight">explore</span> the crazy <br>
            world of Rick and Morty?</h2>
		<div class="slides">
			<div class="slide">
				<img src="./img/ricky-and-morty.jpg" alt="rick-and-morty">
			</div>
			<div class="slide">
				<img src="./img/rick-and-morty-2.jpg" alt="rick-and-morty">
			</div>
			<div class="slide">
				<img src="./img/rick-and-morty-3.jpg" alt="rick-and-morty">
			</div>
			<div class="slide">
				<img src="./img/rick-and-morty-4.jpg" alt="rick-and-morty">
			</div>
            			<div class="slide">
				<img src="./img/rick-and-morty-3.jpg" alt="rick-and-morty">
			</div>
            			<div class="slide">
				<img src="./img/rick-and-morty-3.jpg" alt="rick-and-morty">
			</div>
		</div>
				<a href="./episodes.html" class="btn-episode">Episodes</a>
    </div>