<section class="seasons-list">
    <div class="hero-list">
        <label>Name
            <input type="text" placeholder="Enter name" class="seasons-list-name-input">
        </label>

        <div>
            <label>Episode code
                <select id="season">
                    <option value="all">All season</option>
                    <option value="S01">1 season</option>
                    <option value="S02">2 season</option>
                    <option value="S03">3 season</option>
                    <option value="S04">4 season</option>
                    <option value="S05">5 season</option>
                </select>
            </label>
        </div>
    </div>
    <div class="grid" id="episodes"></div>
    <button class="seasons-list-btn">Load more</button>
</section>