<section class="seasons-list">
    <div class="container">
        <div class="seasons-list-items-inputs">
        <div class="seasons-list-text">
    <p class="seasons-list-name">Name</p>
    <input type="text" placeholder="Enter name" class="seasons-list-name-input">
   

</div>
<div class="seasons-list-items">
    <p class="seasons-list-episode-code">Episode code</p>  
      <select id="season">
        <option value="all">All season</option>
        <option value="S01">1 season</option>
        <option value="S02">2 season</option>
        <option value="S03">3 season</option>
        <option value="S04">4 season</option>
        <option value="S05">5 season</option>
      </select>
    </div>
</div>
</div>
    <div class="grid" id="episodes"></div>
    <button class="seasons-list-btn">Load more</button>

</section>