<div class="tags-container">
  <button class="tag tag-dark">the adventures</button>
  <button class="tag tag-dark-green">Animated</button>
  <button class="tag tag-light-green">Sitcom</button>
  <button class="tag tag-dark-green">Justin Roiland</button>
  <button class="tag tag-dark superpower">superpower</button>
  <button class="tag tag-light-green">creative</button>
  <button class="tag tag-dark-green">Amazing!</button>
  <button class="tag tag-dark">Rick and Morty</button>
  <button class="tag tag-light-green">comics</button>
  <button class="tag tag-dark follows">follows</button>
  <button class="tag tag-light-green">characters</button>
  <button class="tag tag-dark-green">Whoa</button>
</div>
