.hero-characters {
  background-color: #0d171d;
  border-radius: 0 0 100px 100px;
  padding-top: 76px;
  padding-bottom: 65px;
}
.hero-characters-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-characters-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 100px;
  line-height: 100%;
  text-align: center;
  color: #fafafa;
  margin-bottom: 16px;
}
.hero-characters-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #fafafa;
  max-width: 482px;
  margin-bottom: 32px;
}
.hero-characters-box-image {
  border-radius: 100px;
  width: 504px;
  height: 504px;
  background-color: #a1d737;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 124px;
}

.hero-characters-link {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.3);
  border-radius: 1000px;
  padding: 12px 24px;
  width: 131px;
  height: 42px;
}
