.hero {
  background-color: #0d171d;
  border-radius: 0 0 100px 100px;
  padding-top: 54px;
  padding-bottom: 43px;
  // filter: blur(94px);
  // background: linear-gradient(180deg, #14182c 36.46%, rgba(52, 56, 127, 0) 100%);
  // border-radius: 200000px;
  // width: 526px;
  // height: 476px;
}
.hero-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: #fafafa;
  max-width: 300px;
}
.hero-image {
  margin-left: auto;
  margin-right: auto;
}
.hero-logo {
  width: 460px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
}
