.header{
  padding: 20px 0;
}
.header-list{
  display: inline-flex;
  gap: 4px;
  padding: 4px;
  background: #0D171D;
  border-radius: 12px;
  list-style: none;
  margin: 0; 
}
.header-list-child {
  margin: 0;
}
.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;          
  color: #fafafa;
  text-decoration: none;
  border-radius: 1000px;       
  border: 1px solid rgba(250, 250, 250, 0.3);
  background: transparent;
  transition: all 0.2s ease;
}
.header-link:hover {
color: #0D171D;
background-color: #A1D737;
}
.header-link.active {
  background: #A1D737;         
  color: #0D171D;
  color: #A1D737;
  font-weight: 600;
}