.header {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #0d171d;
}
.header-list {
  display: inline-flex;
  list-style: none;
  margin: 0;
  margin-left: 128px;
  @media (min-width: 768px) {
    margin-left: 32px;
  }
  @media (max-width: 767px) {
    margin-left: 20px;
  }
}
.header-list-child {
  margin: 0;
}
.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  color: #fafafa;
  text-decoration: none;
  border-radius: 1000px;
  border: 1px solid rgba(250, 250, 250, 0.3);
  background: transparent;
  transition: all 0.2s ease;
  @media (max-width: 767px) {
    padding: 10px 20px;
  }
}
.header-link:hover {
  color: #0d171d;
  background-color: #a1d737;
}
.header-link.active {
  background: #a1d737;
  color: #0d171d;
  color: #a1d737;
  font-weight: 600;
}