.hero-characters {
  background-color: #0d171d;
  border-radius: 0 0 100px 100px;
  padding-top: 76px;
  padding-bottom: 65px;
}
.hero-characters-box {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 767px) {
    display: block;
  }
}
.hero-characters-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 100px;
  line-height: 100%;
  text-align: center;
  color: #fafafa;
  margin-bottom: 16px;
   @media (max-width: 1199px) {
    font-size: 60px;
  }
  @media (max-width: 767px) {
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 14px;
    
  }
}
.hero-characters-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #fafafa;
  max-width: 482px;
  margin-bottom: 32px;
  @media (min-width: 768px) {
    max-width: 335px;
    margin-bottom: 24px;
    line-height: 112%;
  }
  @media (max-width: 767px) {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 129%;
  }
}
.hero-characters-box-image {
  border-radius: 100px;
  width: 504px;
  height: 504px;
  background-color: #a1d737;
  margin-left: 124px;
  overflow: hidden;
  @media (max-width: 1199px) {
    width: 346px;
    height: 346px;
     margin-left: 24px;
     
  }
  @media (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
}
}
.hero-characters-image {
  width: 486px;
}
.hero-characters-link {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.3);
  border-radius: 1000px;
  padding: 12px 24px;
  width: 131px;
  height: 42px;
  @media (max-width: 767px) {
    margin-bottom: 50px;
    font-size: 12px;
    line-height: 133%;
  }
}
