
.seasons-list-items {
    display: flex;
    flex-direction: column;
    gap: 8px; 
                  

  }
  .container {
    margin: 10px auto;

    justify-content: center;
    display: flex;          
    align-items: flex-end;  
    gap: 40px;   
             
}


  

  .seasons-list-episode-code {
 
    
    font-size: 14px;
    color: #000000;
    margin-bottom: 5px;
    
  }
  

  #season {
    display: block;
    margin: 0 auto;
  
    width: 190px;
    height: 48px;
  
    padding: 0 44px 0 16px;
    border-radius: 999px;
    border: 2px solid #222;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
  
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5' fill='none' stroke='black' stroke-width='2'/%3E%3C/svg%3E") ;
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 18px;
  }
  
  


.seasons-list-name{
    margin: 10px auto;
margin-top: 5p;
    align-items: center;
    justify-content: center;
    width: 43;
    height: 18;
  
font-weight: 400;
font-style: 'Regular';
font-size: 14px;
line-height: 18px;
letter-spacing: 0%;
margin-bottom: 1px;

}



.seasons-list-name-input {
    
    margin: 10px auto;

    align-items: center;
    justify-content: center;
    margin: 0 auto;
  
    width: 207px;
    height: 48px;
  
    padding: 10px 24px;
    border-radius: 100px;
    background: #DAF836;
    border: 1.5px solid #111;
    font-size: 16px;
    font-family: sans-serif;
    
  }
  









.seasons-list-btn {
    display: flex;
    margin: 10px auto;

    align-items: center;
    justify-content: center;

    background-color: #A1D737;
    border: 1px solid #A1D737;
    border-radius: 1000px; 
    padding: 12px 24px;
    gap: 10px;
    color: #0D171D;
    font-family: sans-serif; 
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}


.seasons-list-btn:hover{
    background-color: #0D171D;
    color: #A1D737;
    border: 1px solid #0D171D;
    transform: scale(1.2);
}


.seasons-list-items-inputs{
    display: flex;
    justify-content: center;
    gap: 16px ;
}
